@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/* :root {
	--gradient-color:  linear-gradient(45deg, rgba(245, 160, 77, 1) 0%, rgba(160, 15, 139, 1) 100%);
} */
*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	padding-top: 56px;
	font-family: 'Open Sans', sans-serif;
	background-color: #FAFAFA;
	color: #000;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

button {
	outline: none;
	border: none;
	box-shadow: none;
	background-color: transparent;
}

.container {
	margin: 0 auto;
	width: 100%;
}

.header{
	background: white;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	padding: 8px 16px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	position: absolute;
}
.header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 700px;
}

.header__logo{
	height: 40px;
	width: 150px;
	display: inline-block;
	background-color: white;
}
.header__icon{
	width: 20px;
}

.stories{
	margin-top: 20px;
	
}
.container{
	background-color: white;
	width: 700px;
}

.stories .container{
	border: 1px solid rgba(0, 0, 0, .1);
	height: 120px;
}

.stories__container{
	height: 100%;
	display: flex;
	align-items: flex-end;
	padding-left: 20px;
	
}

.stories__user {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90px;
}


.stories__user img{ 
	width: 70px;
	border-radius: 100%;
	padding: 2px;
	overflow: hidden;
	background: white;
	position: absolute;
}

.stories__user--new img {
	/* background: linear-gradient(45deg, rgba(245, 160, 77, 1) 0%, rgba(160, 15, 139, 1) 100%); */
	border: 3px solid #E1306C;
}

.stories__username{
	letter-spacing: .01em;
	width: 85px;

	font-size: 12px;
	color: #000;
	font-weight: 500;

	padding-top: 60px;
	overflow: hidden;
    text-align: center;
	text-overflow: ellipsis;
	
}

.posts{
	margin-top: 20px;
}

.posts .container{

	border: 1px solid rgba(0, 0, 0, .1);
	height: auto;
}
.post__top{
	display: flex;
	justify-content: space-between;
}
.profile{
	display: flex;
	padding: 10px;
	align-items: center;
}
.profile img{
	width: 60px;
	border-radius: 100%;
	overflow: hidden;
}
.post__top a p{
	padding: 0px 20px;
	font-weight: 900;
	font-size: 22px;
}
.icon__pontos p{
	padding: 10px 20px 0px;
	font-weight: 900;
	font-size: 30px;	
}

.post__imagem img{
	width: 100%;
}

.post__icons{
	display: flex;
	justify-content: space-between;
	font-size: 22px;
	padding: 2px 10px;
}
.post__icons i{
	padding: 0 5px;
	cursor: pointer;
}
.icons__relacao i:first-child:active {
	color: red;
}
.icon__save{

}

.post__iteracao{
	display: flex;
	align-items: center;
	width: 700px;
	background-color: #FAFAFA;
	padding: 15px 0;
	border: 1px solid rgba(0, 0, 0, .1);


}
.post__iteracao img{
	margin: 0 10px;
	width: 30px;
	border-radius: 100%;
	overflow: hidden;
}

.post__comentarios{
	display: flex;
	flex-direction: column;
	padding: 5px 10px;
}
.comment_unico{
	display: flex;
	justify-content: space-between;
}
.comentarios__comments a{
	color: darkgray;
	font-size: 16px;
}

.comentarios__time{
	color: darkgray;
	font-size: 14px;
	letter-spacing: .01em;
	font-weight: 500;
}
.post__comment_send{
	padding-left: 10px;
	padding-top: 10px;
	border: 1px solid rgba(0, 0, 0, .1);

}
.post__comment_send input{
	padding-right: 380px;
	border: none;
}

.post__comment_send input:focus{
    outline: 0;
}

.post__comment_send button{
	padding: 0 10px 10px 25px;
	color: #b2dffc;
	font-weight: bold;
}
@media screen and (max-width: 725px) {
	.container {
		width: 700px;
	}
	.header .container{
		padding: 0 30px 10px 10px;
	}
	.header__logo{
		width: 200px;
		
	}
	.header__icon{
		font-size: 25px;
	}
	.profile img{
		width: 50px;
	} 
	.post__top {
		align-items: center;
	}
	.post__top a.profile p{
		font-size: 16px;
	}
	.icon__pontos p{
		font-weight: 900;
		font-size: 100px;	
	}

	.post__icons i{
		font-size: 30px;
	}


}
